@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// @import "./controls";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --DarkCyan: #00838f;
  --TurkishRose: #bc658d;
  --Gunmetal: #2c333a;
  --ViridianGreen: #009ba2;
  --White: #ffffff;
  --Rhythm: #69779b;
  --CaribbeanGreen: #00c5a2;
  --OldLavender: #756c83;
  --AmericanPurple: #432160;
  --ChineseBlue: #415b90;
  --DarkSlateGray: #314a52;
  --MaximumRedPurple: #a03c78;
  --DarkLavender: #6f539b;
  --MetallicBlue: #3c5186;
  --TiffanyBlue: #0fabbc;
  --PoliceBlue: #394a6d;
  --Corn: #fbeb5b;
  --LimeGreen: #4be133;
  --OldRose: #394a6d;
  --Magnolia: #f4f3fe;
  --ChineseSilver: #cccccc;
  --LavenderGray: #c5c0db;
  --Main-Gradient: linear-gradient(79.85deg, #009ba2 -20.87%, #bc658d 87.74%);
  --blue: rgb(26, 57, 87);
  --white: rgb(236, 236, 236);
  --DeepGreen-CyanTurquoise: #206d62;

  --Nunito: "Nunito", sans-serif;
  --Montserat: "Montserrat", sans-serif;

  --shadow: 0px -2px 8px rgba(0, 0, 0, 0.05), 0px 2px 8px rgba(0, 0, 0, 0.05);
  --overlay: rgba(44, 51, 58, 0.2);
}

.scrollable_table {
  overflow-x: auto;
  overflow-y: hidden;
}
table {
  border-collapse: collapse;
  font-family: var(--Nunito);
  margin: 25px 0;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  td {
    min-width: 100px;
    padding: 10px 18px;
  }
  thead {
    tr {
      background-color: var(--LavenderGray);
      text-align: left;
      border: 1px solid rgba(44, 51, 58, 0.1);
      color: var(--Gunmetal);
      font-weight: 500;
      border-radius: 5px 5px 0px 0px;
      &:nth-of-type(1) {
        background-color: #f3f3f3;
      }
    }
  }
  tbody {
    tr {
      border: 1px solid rgba(44, 51, 58, 0.1);
      font-size: 15px;
      font-weight: 500;
      &:nth-of-type(even) {
        background-color: #f3f3f3;
        // font-family: Nunito;
        font-size: 15px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
  }

  th,
  td {
    padding: 18px;
  }
}

.label-cbx {
  user-select: none;
  cursor: pointer;
  margin-bottom: 0;
  input {
    display: none;
  }
}
.search_set {
  border: 1px solid #333333;
  padding: 0 10px;
  border-radius: 5px;
  max-width: 300px;
  height: 52px;
  width: 300px;
  display: flex;
  img {
    width: 25px;
    margin-right: 0px;
    top: 6px;
  }
  input {
    border: 0;
    background: transparent !important;
    outline: 0;
    font-size: 16px;
    padding: 10px;
  }
}
.label-cbx input:checked + .checkbox {
  border-color: var(--DarkCyan);
}
.label-cbx input:checked + .checkbox svg path {
  fill: var(--DarkCyan);
}
.label-cbx input:checked + .checkbox svg polyline {
  stroke-dashoffset: 0;
}
.label-cbx:hover .checkbox svg path {
  stroke-dashoffset: 0;
}
.label-cbx .checkbox {
  position: relative;
  top: 2px;
  float: left;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  border: 2px solid #c8ccd4;
  border-radius: 3px;
}
.label-cbx .checkbox svg {
  position: absolute;
  top: -2px;
  left: -2px;
}
.label-cbx .checkbox svg path {
  fill: none;
  stroke: var(--DarkCyan);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 71px;
  stroke-dashoffset: 71px;
  transition: all 0.6s ease;
}
.label-cbx .checkbox svg polyline {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 18px;
  stroke-dashoffset: 18px;
  transition: all 0.3s ease;
}
.label-cbx > span {
  pointer-events: none;
  vertical-align: middle;
}

.pagination-data {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}
.pagination-data li {
  list-style: none;
}
.table-filter-info {
  padding: 15px;
}
.thead-primary tr th {
  background-color: #2d4bf3;
  border-color: #2d4bf3;
  color: #fff;
}

.rc-pagination {
  display: flex;
  align-items: center;
  justify-content: center !important;
}
.rc-pagination-item,
.rc-pagination-prev,
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  margin-right: 8px;
}

.rc-pagination-total-text {
  margin-right: 12px;
  cursor: initial;
}

.rc-pagination-jump-next,
.rc-pagination-jump-prev,
.rc-pagination-next,
.rc-pagination-prev {
  display: inline-block;
  min-width: 28px;
  height: 28px;
  color: rgba(0, 0, 0, 0.85);
  font-family: Arial;
  line-height: 28px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s;
}
.rc-pagination-jump-next button,
.rc-pagination-jump-prev button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #666;
}
.rc-pagination-jump-next button:after,
.rc-pagination-jump-prev button:after {
  display: block;
  content: "...";
}
.rc-pagination-item,
.rc-pagination-prev,
.rc-pagination-next,
.rc-pagination-total-text {
  min-width: initial;
  height: auto;
  line-height: initial;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.rc-pagination-item a,
.rc-pagination-item button,
.rc-pagination-prev a,
.rc-pagination-prev button,
.rc-pagination-next a,
.rc-pagination-next button,
.rc-pagination-total-text a,
.rc-pagination-total-text button {
  padding: 6px 8px;
  height: auto;
  min-width: 32px;
  min-height: 32px;

  border: 1px solid transparent;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  color: #656f84 !important;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
}
.rc-pagination-item.rc-pagination-item-active a,
.rc-pagination-item.rc-pagination-item-active a:hover,
.rc-pagination-prev.rc-pagination-item-active a,
.rc-pagination-prev.rc-pagination-item-active a:hover,
.rc-pagination-next.rc-pagination-item-active a,
.rc-pagination-next.rc-pagination-item-active a:hover,
.rc-pagination-total-text.rc-pagination-item-active a,
.rc-pagination-total-text.rc-pagination-item-active a:hover {
  border-bottom: 2px solid #2d4bf3;
}
.rc-pagination-item a:hover,
.rc-pagination-item button:hover,
.rc-pagination-prev a:hover,
.rc-pagination-prev button:hover,
.rc-pagination-next a:hover,
.rc-pagination-next button:hover,
.rc-pagination-total-text a:hover,
.rc-pagination-total-text button:hover {
  background-color: #eceff5;
  border-color: #eceff5;
}

.select_me {
  width: 200px;
  position: relative;
  font-family: var(--Nunito);
  user-select: none;
  h5 {
    margin-left: 10px;
    margin-bottom: 5px;
  }
  .select-btn {
    padding: 10px;
    background: var(--White);
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgba(44, 51, 58, 0.2);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    height: 45px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--Gunmetal);
    img {
      width: 24px;
      height: 24px;
      position: absolute;
      right: 20px;
    }
    input {
      width: auto;
      background: transparent;
      outline: 0;
      font-size: 16px;
      border: 0;
    }
  }
  .select_content {
    position: absolute;
    top: 55px;
    padding: 10px;
    z-index: 1;
    width: 100%;
    left: 0;
    // display: none;
    font-weight: 500;
    background: #ffffff;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    overflow: auto;
  }
  .select_items {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    padding: 10px;
    transition: 0.4s;
    border-bottom: 1px solid #f5f5f5;
    &:hover {
      background-color: rgba(0, 131, 143, 0.07);
    }
  }
}
@media (max-width: 1024px) {
  .scrollable_table {
    overflow-x: auto;
    overflow-y: hidden;
    table {
      width: 1200px;
    }
  }
}
